.text-input{
    border: 1px solid #cacccd;
    height : 50px;
    font-size :medium;
    font-weight: 300;
    padding: .8rem;
}

.select{
    @extend .text-input;
}

.select-dev{
    border: 1px solid #cacccd;
    height : 100px;
    font-size :medium;
    font-weight: 300;
    padding: .8rem;
}

.text-area{
    @extend .text-input;
    height :10rem ;
}

.input-form{
    display: flex;
    margin: $m-size;
    flex-direction: column;
    @media (min-width: 45rem) {
        flex-direction: row;
        margin: $l-size;
    }
}

.input-form__form{
  
    margin-bottom: 1rem;
    @media (min-width: 45rem) {
        margin-left: $m-size;
    }
}

.input-group{
    margin-bottom: .5rem;
    padding-bottom: 0.5rem;
}