.list-header{
    display: flex;
    justify-content: space-between;
    border: 1px solid darken(#f7f7f7,7);
    border-top: none;
    padding: $m-size;
    text-decoration: none;
    color: black;
}
.list-item{
    display: flex;
    justify-content: space-between;
    border: 1px solid darken(#f7f7f7,7);
    border-top: none;
    padding: $s-size;
    text-decoration: none;
    color: black;
    transition: background .1s ease;
    &:hover{
        background: #f7f7f7;
    }
}
.list-item-ticket{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid darken(#f7f7f7,7);
    border-top: none;
    padding: $s-size;
    text-decoration: none;
    color: black;
    transition: background .1s ease;
    &:hover{
        background: #f7f7f7;
    }
}

.list-item__title{
    margin:.5rem 0 ;
    word-break: break-all;
}

.list-item__subtitle{
    color: grey;
    font-size:medium;
}

.table-container{
    max-width: 600px;
}

.scroll{
    max-height: 500px;
    overflow-y: auto;
}